.tabs--primary.nav-pills li a,
.tabs--primary li a {
  border: 1px solid #CDCDCD;
  background: #FFFFFF;
  color: #676C5F;
}

.tabs--primary.nav-pills li a:hover,
.tabs--primary li a:hover {
  border: 1px solid #A4AD5F;
  background: #A4AD5F;
  color: #ffffff;
}

.tabs--primary.nav-pills > li > a.active,
.tabs--primary.nav-pills > li > a:focus,
.tabs--primary.nav-pills li.active a:hover,
.tabs--primary.nav-pills li.active a:focus,
.tabs--primary li a.active,
.tabs--primary li a:focus {
  border: 1px solid #A4AD5F;
  background: #A4AD5F;
  color: #ffffff;
}


.node-blog .links a:hover,
.view-blog .node-teaser .links a:hover,
.view-group-block .views-field-nid a:hover,
.btn-primary:hover,
.links .btn:hover,
input.btn:hover,
input.btn-default:active:hover,
input[type="submit"]:hover {
  background: #A4AD5F;
  border: 1px solid #A4AD5F;
  color: #ffffff;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.links .btn:focus,
.links .btn.focus,
input.btn:active,
input.btn:active:focus,
input.btn:focus,
input[type="submit"]:focus,
input[type="submit"]:active {
  background: #A4AD5F;
  border-color: #A4AD5F;
  color: #ffffff;
}
